@font-face {
  font-family: 'Avant-Garde-Boldest';
  src: url('../fonts/boldest.woff2') format('woff2');
}
@font-face {
  font-family: 'Avant-Garde-Bold';
  src: url('../fonts/bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Avant-Garde-Book';
  src: url('../fonts/book.woff2') format('woff2');
}
* {
  background-color: #0059a6;
  color: #fff;
  font-family: 'Avant-Garde-Book', sans-serif;
  }
h1, p { text-align: center }
.text-small { font-size: .7rem; }
.container {
  margin: 40px;
}
.grid {
  display: grid;
  place-items: center;
  min-height: 80vh;
}
.content-block {
  width:50%
}
.image-uploader {
  border: 1px dashed #7cd1e4;
  padding: 20px;
}

.image-uploader select {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
}

.btn-group {
    display:grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

input[type="submit"], .file-input label {
  background-color: #6dd2f5;
  padding: 20px 40px 20px;
  border-radius: 2px;
  color:rgb(33,33,33);
  font-size:12px;
  line-height: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color .2s ease-out;
  border:none;
}

.file-input label {
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="submit"]:hover, .file-input label:hover {
  background-color: #fff;
}
.file-txt {
  text-align:center;
  display:none;
}

#img-preview {
  display: none;
  width: 100%;
  border: 2px dashed #333;
  margin-bottom: 20px;
}
#img-preview img {
  width: 100%;
  height: auto;
  display: block;
}

.hide {
  display:none;
}
.show {
  display:block;
}
