{% extends 'base.html' %}

{% block content %}
    <div class="container">
      <div class="grid">
        <div class="content-block">
          <h1 class="text-center">{% block title %} In-Situ Image Generator {% endblock %}</h1>
          <div class="image-uploader">
            <p class="descTxt">This tool can place D48, D96 and D6 images in-situ.</p>
            <form method="post" target="_blank" enctype="multipart/form-data">
              <div id="img-preview"></div>
              <div class="btn-group">
                <div class="file-input">
                  <input id="file" class="file" type="file" name="file">
                  <label for="file">Select file</label>
                </div>
                <input class="form-control" type="submit" value="Place In-Situ">
              </div>
              <p class="file-txt"></p>
            </form>
        </div>
        <p class="text-small">If you experience any issues, please contact Bill Roberts.</p>
      </div>
  </div>
{% endblock %}
